{% extends 'lit_reviews/base.html' %}

{% block content %}

<button>
    <a href="{% url 'tickets_app:create-ticket' %}">Demander une critique</a>
</button>
<button>
    <a href="{% url 'reviews_app:create-review' %}">Créer une critique</a>
</button>

<div class="reviews">{% lorem 2 p %}</div>

{% for ticket in tickets %}
<div class="ticket">
    <p>Ticket - {{ ticket.user }}</p>
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    <img src="{{ review.ticket.image }}" alt="" class="book-img">
    <a href="{% url 'tickets_app:update-ticket' pk=ticket.pk %}">Modifier</a>
    <a href="{% url 'tickets_app:delete-ticket' pk=ticket.pk %}">Supprimer</a>
</div>
{% endfor %}

<div class="followers">{% lorem 2 p %}</div>


{% endblock %}