<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lit Reviews</title>
</head>
<body>

    <nav>
        <h1>LITReview</h1>
    </nav>
    
    <div id="inscription">
        <h3>Inscrivez-vous</h3>
        <form>
            {%csrf_token%}
            {{ form.as_table }}
            <button>Retourner</button>
            <input type="submit" value="Se connecter"/>
        </form>
    </div>
    
</body>
</html>