{% extends 'lit_reviews/base.html' %}

{% block content %}

<h2>Suivre d'autres utilisateurs</h2>
<form action="POST">
    {% csrf_token %}
    <input type="submit" value="Envoyer">
</form>

{% for user in user_follows %}
<div class="subscriptions">
	<h3>Abonnements</h3>
	<table>
	<tr>
		<td>{{ user.username }}</td>
		<td><a href="{% url 'unfollow' %}">Désabonner</a></td>
	</tr>
</table>
</div>
{% endfor%}

{% for %}
<div class="followers">
	<h3>Abonnés</h3>
	<table>
	<tr>
		<td>{{ follower }}</td>
	</tr>
</table>
</div>
{% endfor%}

{% endblock%}