{% extends 'lit_reviews/base.html' %}

{% block content %}

<h2>Suivre d'autres utilisateurs</h2>
<form action="" method="POST">
	{% csrf_token %}
	<!--{{ form.as_p }}-->
	<input type="text" name="new-subscription" placeholder="Nom d'utilisateurs">
	<input type="submit" value="Envoyer">
</form>

{% if messages %}
{% for message in messages %}
<div class="message error">{{ message }}</div>
{% endfor %}
{% endif %}

<h3>Abonnements</h3>
{% for user in followed_users %}
<div class="subscriptions">
	<table>
		<tr>
			<td>{{ user.username }}</td>
			<td><a href="{% url 'unfollow' %}">Désabonner</a></td>
		</tr>
	</table>
</div>
{% endfor%}

{% for follower in followers %}
<div class="followers">
	<h3>Abonnés</h3>
	<table>
		<tr>
			<td>{{ follower }}</td>
		</tr>
	</table>
</div>
{% endfor%}

{% endblock%}