{% extends 'lit_reviews/base.html' %}

{% block h2 %}
Créer une critique
{% endblock %}

{% block content %}

<div>
    <p>Ticket - {{ ticket.user }}</p>
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    <p>{{ ticket.time_created|date:"H:i, j F o" }}</p>
    <img src="../../media/{{ticket.image}}" alt="{{ ticket.title }}" class="book-img">
</div>

<form method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Envoyer">
</form>

{% endblock %}